/*
Theme Name: Letni Kurs Muzyczny
Theme URI: http://wordpress.org/themes/wsm
Author: Dawid Sowa
Author URI: http://www.dawidsowa.pl
Description: Created for WSM
License: Forbidden
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: nananana, tak
Text Domain: lkm
*/

/*
    large - 1400px
    big - 1200px
    tablet - 1150px
*/
* {transition: all 300ms ease-in-out 150ms; -webkit-transition: all 300ms ease-in-out 150ms; -moz-transition: all 300ms ease-in-out 150ms; -o-transition: all 300ms ease-in-out 150ms;}
i {cursor: pointer;}
* img * {transition: none !important; -webkit-transition: none !important;}
i:hover {color: #81221c;}
* a:hover {color: #81221c !important;}
* a {text-decoration: none; color: inherit; outline: 0;}
* {outline: 0;}
*:focus {outline: 0;}

#map_centrum, #map_ursynow {
    width:100%;
    height:350px;
}
#map_centrum *, #map_ursynow * { transition: none; }

.wsm-icon { display: inline-block; float: left; width: 31px;}
.wsm-icon:before {
    content: url('/wp-content/themes/wsm/assets/icons/wsm-little.png');
    height: 38px;
}
i.menu-close {display: inline-block; width: 23px;}
i.menu-close:before {
     content: url('/wp-content/themes/wsm/assets/icons/menu-close.png');
}
i.menu-close:hover:before {
      content: url('/wp-content/themes/wsm/assets/icons/menu-close-hover.png');
  }

.fa-facebook:hover {background: #385593; color: #fff;}
.fa-youtube-play:hover {background: #e52117; color: #fff;}
.fa-vimeo:hover {background: #334455; color: #fff;}

.mobile-only {display: none;}

body {
    margin: 0;
    padding: 0;
    background: #f4f2f3;
    font-family: 'Lato';
}

@media (max-width: 1150px) {
    .mobile-only {display: block;}
}

.bg-band,.bg-band-second {
    width: 100%;
    background: #ebe7e5;
    height: 33vh;
    position: absolute;
    z-index: 0;
    transition: none;
}
.bg-band-second {
    transform: translateY(1300px);

}

/**
*  Side navigation styles
*/

/*@media (max-width: 430px) {*/
    /*nav#side-nav {*/
        /*width: 100% !important;*/
    /*}*/
/*}*/

nav#side-nav {
    width: 300px;
    left: -300px;
    min-height: 100vh;
    position: fixed;
    background: #fff;
    padding: 30px 1.5em;
    box-sizing: border-box;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
}
nav#side-nav .fa-times {
    margin-bottom: 40px;
    font-size: 1.7em;
}
ul.side-menu {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
}
ul.side-menu li {
    padding: 5px 0;
    position: relative;
    border-bottom: 0;
    line-height: 30px !important;
}
ul.side-menu li a {
    color: #292929;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: block;
}
ul.side-menu ul.children {
    margin-top: 8px;
    display: none;
}

ul.side-menu li.page_item_has_children:after {
    content: '\f107';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 15px;
    right: 15px;
}

@media (max-width: 700px) {
    ul.side-menu li.page_item_has_children:after {
        content: '\f107';
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

body.menu-open .masthead-inner,
body.menu-open .page-header,
body.menu-open .banner,
body.menu-open .main-container,
body.menu-open footer
{
    transform: translateX(300px) !important;
    -webkit-transform: translateX(300px) !important;
    -moz-transform: translateX(300px) !important;
    -o-transform: translateX(300px) !important;
}
body.menu-open nav#side-nav {
    left: 0 !important;
}
body.menu-open {
    overflow: hidden;
}

/**
*   Masterhead styles
*/

.site-header {
    position: relative;
}

.site-header > .masthead-inner {
    width: 100%;
    background: rgba(255,255,255,0.95);
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 16px 0 10px 30px;
    position: fixed;
    box-sizing: border-box;
}

.nav-trigger {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    font-size: 1.3em;
    color: #292929;
    left: 15px;
    z-index: 100;
}

.masthead-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.masthead-inner .logo {float: left; }
.masthead-inner .logo img {height:40px; transition-property: height; -webkit-transition-property: height; -moz-transition-property: height;}
.masthead-inner .links {float: right; margin-top: 45px;display: none;}

@media (min-width: 960px) {
    .site-header > .masthead-inner {
        padding-left: 50px;
    }

    .nav-trigger {
        left: 60px;
    }

    .masthead-container {
        padding: 0 60px;
    }

    .masthead-inner .logo img {
        height: 70px;
    }
}

@media (min-width: 1300px) {
    .masthead-inner {
        padding-left: 0;
    }

    .nav-trigger {
        left: 25px;
    }
}

@media (min-width: 1100px) {
    .masthead-inner .links {
        display: block;
    }
}

#masthead.minified .logo img {height: 40px;}
#masthead.minified .links {margin-top: 10px;}

/**
*todo: menu-top-menu-[NUMBER] ??
*/
.menu a {
    color: #000;
    text-decoration: none;
}

#menu-top-menu,
#menu-top-menu-1,
#menu-side-links {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}
#menu-top-menu li,
#menu-top-menu-1 li {
    display: inline;
    padding: 0 0 0 8px;W
}
#menu-top-menu-1 li a {
    color: #fff;
    font-size: 0.85em;
}
#menu-top-menu li:after,
#menu-top-menu-1 li:after {
    margin-left: 8px;
    content: '|';
}
#menu-top-menu li:last-child:after,
#menu-top-menu-1 li:last-child:after {
    content: '';
}

#menu-side-links li {
    margin: 0;
    padding: 8px 0;
    display: block;
}

.menu-side-links-container {
    margin: 20px 0 0 0;
}

@media (min-width: 1100px) {
    .menu-side-links-container {
        display: none;
    }
}

.screen30 {background: rgba(0,0,0,0.2);width:100%;height:100%;}
.page-header {
    position: relative;
    overflow: hidden;
}

@media (max-width: 960px) {
    .page-header.nauczyciel {
        max-height: 350px;
    }
}

.page-title-text {
    width: 100%;
    text-align: left;
    transition: none;
}
.page-title .social {
    align-self: flex-start;
    width: 100%;
    text-align: right;
}
.page-header > .page-title {
    padding: 80px 25px 0 25px;
    position: relative;
    display: flex;
    z-index: 2;
    color: #fff;
    box-sizing: border-box;
    max-width: 1180px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 330px;
}

@media (min-width: 440px) {
    .page-header > .page-title {
        height: 450px;
    }
}

@media (min-width: 700px) {
    .page-header > .page-title {
        height: 580px;
    }
}

@media (min-width: 960px) {
    .page-header > .page-title {
        padding-top: 110px;
        height: 650px;
    }
}

@media (min-width: 1300px) {
    .page-header > .page-title {
        height: 750px;
    }
}

@media (max-width: 450px) {
    .page-title {
        padding: 90px 25px 0 25px !important;
    }
}

.page-header > .page-title.nauczyciel {
    height: 420px;
}

.page-title h1 {
    font-size: 2.7em;
    margin: 0 0 0.5em;
    font-weight: normal;
    line-height: 1.1em;
}
.page-title h2 {
    font-size: 2.3em;
    line-height: 1.2em;
    font-weight: normal;
    margin: 0 0 0.6em;
}
.page-title h3 {
    font-size: 1.7em;
    font-weight: normal;
}
.page-title h4 {
    font-size: 1.2em;
    font-weight: normal;
}

@media (max-width: 700px) {
    .page-header > .page-title {
        /*min-height: 450px;*/
    }
    .page-title h1 {font-size: 1.2em !important;}
    .page-title h2 {font-size: 1em !important;}
}

@media (max-width: 960px) {
    .main-container {
        margin-top: 5% !important;
    }

}

ul.slider {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.slider li {
    width: 100%;
    height: 100%;
}

.main-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: -105px;
	padding: 0 15px;
	box-sizing: border-box;
}

.masonry-grid {
    position: relative;
}

.media * a {
    text-decoration: underline;
}
.post {
    width: 47.5%;
    max-width: none;
    margin-bottom: 5%;
    background: rgba(255,255,255,0.90);
    z-index: 2;
    overflow: hidden;
	transition: none;
    -webkit-transition: none;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

.dyplomy {
    padding: 0 26px 10px 26px;
    overflow: hidden;
}

.dyplomy img {
    width:100% !important;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

@media (min-width: 700px)  {
    .dyplomy img {
        width: 49% !important;
    }
}

.post-space {
    width: 5%;
}

.post p.partner-links a {
    width:50%;
    float:left;
    display:block;
}

.post p.partner-links {
    overflow: hidden;
}

.gallery {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.gallery img {
    margin: 1%;
    max-width: 100%;
    width: 47.5%;
    z-index: 2;
	box-sizing: border-box;
}

@media (max-width: 700px) {
    .gallery img {
        width: 90% !important;
    }
}

@media (max-width: 700px) {
    .post {
        width: 100%;
    }
	
}

@media (max-width: 960px) {
	.post h2 {
		font-size: 1.2em;
	}
}

.post h2 {
    color: #81221c;
    margin: 0;
    padding: 30px 36px;
}

.post p {
    padding: 0 36px;
    margin: 0 0 30px;
    line-height: 30px;
}

@media (max-width: 900px) {
    .post h2 {
        padding: 28px 28px;
    }

    .post p {
        padding: 0 28px;
        line-height: 25px;
        font-size: 14px;
    }
}

.post table {
    padding: 0 26px;
    width: 100%;
    margin: 0 0 20px;
}

.post table tr td {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #D5D5D5;
}

.post img {
    max-width: 100%;
    width: auto;
    display: block;
}

a.more-link {
    font-weight: bold;
}

.teacher img {
    padding: 3px;
    box-sizing: border-box;
}

/* footer styles */
footer {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
	padding: 0 15px;
	box-sizing: border-box;
	z-index: -2;
}
footer > nav > .sitemap {
    list-style-type:none;
    margin: 0;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    padding: 35px 30px 20px;
}


.page_item_has_children {
    font-weight: bold;
    cursor: pointer;
}

.page_item_has_children:hover {
    color: #81221c;
}
ul.sitemap li {
    width: 25%;
    float: left;
    line-height: 30px;
    font-size: 0.93em;

}
ul.sitemap li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    display: block;
}
ul.children {
    margin: 0;
    padding: 0;
}
ul.children li {
    width: 100%;
    float: none;
    list-style: none;
}
ul.children li a {
    font-weight: normal;
}
footer > .bottom {
    background: #9e9d99;
    width: 100%;
    padding: 8px 13px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.social i {
    background: #fff;
    color: #9e9d99;
    width: 32px;
    height: 32px;
    font-size: 19px;
    padding-top: 2px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 1px;
}
footer > .bottom > .social i.fa:before,
.social i.fa:before {
    line-height: 29px;
}
footer > .bottom > .links {
    line-height: 32px;
}
footer > .information {
    background: #f4f2f3;
    padding: 13px 14px;
    width: 100%;
    font-size: 0.7em;
    box-sizing: border-box;
    overflow: hidden;
}
.information > .address {
    float: left;
    margin-left: 16px;
    margin-top: 8px;
}

.information > .createdby {
    float:right;
    margin-top:12px;
}

.information > .address-mobile {
    display: none;
}

@media (max-width:900px) {
    .information > .address {
        display: none;
    }

    .information > .address-mobile {
        display: block !important;
        margin: 15px 0 0 15px;
        float: left;
    }

    .information > .createdby {
        margin-top:14px;
    }

    .address-mobile small {
        margin-top: 2px;
    }

    footer > .information {
        padding: 13px 5px !important;
    }
}

@media (max-width: 700px) {

    footer > nav > ul.sitemap {
        margin: 0;
        padding: 0;
    }
    ul.children {
        display: none;
    }

    li.page_item {
        width: 100% !important;
        text-align: left;
        line-height: 40px !important;
        position: relative;
        border-bottom: 1px solid #D5D5D5;
        box-sizing: border-box;
        padding: 3px 15px;
    }
    li.page_item_has_children:after {
        content: '\f107';
        font: normal normal normal 14px/1 FontAwesome;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    ul.children li.page_item:after {
        content: '';
    }

    ul.children li.page_item {
        border-bottom: 0;
    }
    footer > .bottom {
        flex-wrap: wrap;
    }
    .bottom > .links {
        display: none;

    }
}